.card {
  position: relative;
  height: 275px;
  width: 225px;
  background: radial-gradient(80.55% 80.55% at 6.91% 7.48%, rgba(220, 214, 214, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(21px);
  border-radius: 30px;
  padding: 20px;
  margin: 0 10px;
}
