.swiper {
  margin-right: 0 !important;
  margin-left: 0 !important;
  background-image: url('../../images/background image.png');
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
}

.main-slider .swiper-scrollbar {
  margin-left: 33%;
  width: 33% !important;
  opacity: 0.8;
}

.main-slider .swiper-wrapper {
  position: relative;
  width: 600px !important;
  height: 620px !important;
  transition: ease 1s !important;
}

.main-slider .swiper-slide {
  display: flex;
  margin: 0 !important;
  align-items: center;
}

.main-slider .swiper .slide__image {
  width: 50%;
  height: 50%;
}

.main-slider .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: white;
}

.main-slider .swiper-button-prev{
  width: 30px;
  height: 30px;
  background: url('../../images/Arrow left.svg') no-repeat !important;
  background-position: center !important;
  background-size: 30px 30px !important;
  left: 0px;
  top: 51%;
  z-index: 10;
  position: absolute;
}

.main-slider .swiper-button-prev::after{
  content: "";
}


.main-slider .swiper-button-next{
  position: absolute;
  width: 30px;
  height: 30px;
  background: url('../../images/Arrow right.svg') no-repeat !important;
  background-position: center !important;
  background-size: 30px 30px !important;
  right: 0px;
  top: 51%;
  z-index: 10;
}

.main-slider .swiper-button-next::after{
  content: "";
}