.slide{
    margin: 0;
    padding: 0;
    display: flex;
    width: 800px;
    height: 247px;
    flex-direction: column;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#slide-1{
    background-image: url(../../images/slide1.png);
}

#slide-2{
    background-image: url(../../images/slide2.png);
}

#slide-3{
    background-image: url(../../images/slide3.png);
}

#slide-4{
    background-image: url(../../images/slide4.png);
}