.main__cards{
  width: 50%;
  height: 600px;
  position: relative;
  display: flex;
  overflow: visible;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}