.header__nav-menu{
  position: absolute;
  right: 10px;
  top: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-align: center;
  align-items: center;
  background-color: black;
}

.menu__profile{
  width: 30px;
}

.menu__button{
  margin-top: 10px;
  width: 25px;
}

.menu__button:last-child{
  margin-bottom: 10px;
}