.header__nav-menu{
  position: absolute;
  right: 10px;
  top: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-align: center;
  align-items: center;
  background-color: black;
  z-index: 100;
}

.menu__profile{
  width: 30px;
  cursor: pointer;
}

.menu__notifications{
  margin: 5px 0 0 0;
  position: relative;
  cursor: pointer;
}

.menu__button{
  width: 20px;
  cursor: pointer;
}
.dotted::before{
  content: "";
  width: 5px;
  height: 5px;
  background: red;
  position: absolute;
  right: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}