.liked {
  min-width: 300px;
  position: absolute;
  right: calc(100% + 5px);
  top: 0;
  border: 1px solid white;
  background: black;
  border-radius: 15px 0 15px 15px;
  -webkit-border-radius: 15px 0 15px 15px;
  -moz-border-radius: 15px 0 15px 15px;
  -ms-border-radius: 15px 0 15px 15px;
  -o-border-radius: 15px 0 15px 15px;
}

.liked__line {
  text-transform: none;
  position: relative;
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  gap: 10px;
}

.liked__line:not(:last-child) {
  border-bottom: 1px solid white;
}

.liked__text {
  margin: 0;
  width: 90%;
  text-align: left;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.liked__info-icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}